.search {
  display: flex;
  justify-content: center;
}

.search__form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  border: 1px solid #fff;
  width: fit-content;
  padding: 1rem;
}

.search__form input {
  outline: none;
  border: none;
  background-color: transparent;
  color: #fff;
}

.search__form input::placeholder {
  color: #fff;
}

.search__form button {
  border: none;
  background-color: transparent;
  outline: none;
}

.search__form svg {
  font-size: 1.4rem;
}
